aiodns==3.4.0
aiohappyeyeballs==2.6.1
aiohttp==3.7.4.post0
aiosignal==1.3.2
anyio==4.9.0
APScheduler==3.11.0
async-timeout==3.0.1
attrs==25.3.0
cachetools==4.2.2
ccxt==4.4.88
certifi==2025.4.26
cffi==1.17.1
chardet==4.0.0
charset-normalizer==3.4.2
cryptography==45.0.4
discord==2.3.2
discord.py==2.5.2
frozenlist==1.7.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.10
multidict==6.4.4
oauthlib==3.2.2
propcache==0.3.2
py-cord==2.6.1
pycares==4.8.0
pycparser==2.22
python-discord==1.7.3
python-telegram-bot==22.1
pytz==2025.2
requests==2.32.4
requests-oauthlib==2.0.0
setuptools==80.9.0
six==1.17.0
sniffio==1.3.1
tornado==6.5.1
tweepy==4.15.0
typing_extensions==4.14.0
tzlocal==5.3.1
urllib3==1.26.0
yarl==1.20.1
